.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.black-piece {
    background-color: black;
    border-radius: 50%;
}

.green-piece {
    background-color: green;
    border-radius: 50%;
}

.white-piece {
    background-color: white;
    border-radius: 50%;
}

.black-gray-piece {
    background-color: #454545;
    border-radius: 50%;
}

.white-gray-piece {
    background-color: lightgray;
    border-radius: 50%;
}